extends ../main.layout.pug

block variables
    - var title = 'Обо мне'

block scripts
    script(src='intro.bundle.js')

block content
    section.intro
        header.intro__header.header
            .header__left
                .social
            .header__right
                .hamburger
                    a(href="#").hamburger__link
        .intro__title
            .section-title
                img(src="" alt="").section-title__img
            .intro__user
                .user
                    .user__img
                        img.user__img-avatar
                    .user__desc
                        .user__name Владимир Астахов
                        .user__info Личный сайт веб-разработчика
        .intro__btn
            .arrow-down
                a(href="#").arrow-down__link
    section.about
        .about__left
            .about__triangle
                svg.triangle.triangle_fill_white
                    polygon(points="200,10 250,190 160,210" style="fill:lime;stroke:purple;stroke-width:1")
            .about__left-title
                .title Обо мне
            .about__left-content
                .desc
                    .desc__img
                        img.desc__avatar
                    .desc__info
                        .desc__title
                            .subtitle Кто я
                        .desc__data.text-content
                            p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .about__right
            .about__triangle
                svg.triangle.triangle_fill_beige

            .about__right-title
                .title Чем я могу быть вам полезен
            .about__right-desc.text-content
                p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
            .about__right-content
                include ../common/skills

    section.map
        .google-map
        .map__content
            .contacts
                h2.contacts__title
                    .title Контакты
                address.contacts__desc
                    ul.contacts__list
                        -
                            var contacts = [
                            ['skype', 'skype_kdn'],
                            ['mail', 'skype_kdn'],
                            ['phone', 'skype_kdn'],
                            ['location', 'skype_kdn']
                            ]
                        each item in contacts
                            li.contacts__item
                                .contacts__icon
                                    +icon(`${item[0]}`, 'contacts__icon-img')
                                .contacts__title #{item[1]}
