extends ../main.layout.pug

block variables
    - var title = 'Блог'

block scripts

block content
    section.section.intro
        header.blog__header.header
            .header__left
                .social
                    +socials('', socList)
            .header__right
                include ../common/hamburger
        .intro__title
            .section-title
                +icon('blog_title', 'section-title__img')
            .intro__user
                .user.user__blog
                    .user__img
                        img.user__img-avatar
                    .user__desc
                        .title.title__white БЛОГ
                        .user__info Статьи, которые я написал
    section.section.blog
        .blog__triangle
            svg(viewBox="0 0 1000 110" preserveAspectRatio="none").triangle
                polygon(points="0,0 0,110 500,110").triangle_fill_white
                polygon(points="500,110 1000,0 1000,110").triangle_fill_white
        .blog__wrapper
            aside.blog__aside
                +blog(0, blog)
            .blog__content
                article.blog__article#article1
                    h4.title__small.title__left Самое важное в sass
                    time(datetime="2017-11-22") 22 ноября 2017
                    p.
                        Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по
                        разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной
                        деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной
                        деятельности играет важную роль в формировании систем массового участия.
                    p.
                        Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем
                        массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает
                        широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                        Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
                        С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров,
                        соответствует насущным потребностям.
                    +image('code.jpg', 'code', 'blog__img')

                article.blog__article#article2
                    h4.title__small.title__left Приёмы в верстке, без которых не обходится ни один сайт
                    time(datetime="2017-11-13") 13 ноября 2017
                    p.
                        Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений
                        прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании
                        новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                    p.
                        Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании
                        систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу
                        (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный
                        рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет
                        за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.