extends ../auth.layout.pug

block content
  .parallax
    .parallax__item
      +imageLayer('bg_1.png', 'bg', 'parallax__img')
    .parallax__item
      +imageLayer('bg_2.png', 'bg', 'parallax__img')
    .parallax__item
      +imageLayer('bg_3.png', 'bg', 'parallax__img')
    .parallax__item
      +imageLayer('cloud_1.png', 'bg', 'parallax__img')
    .parallax__item
      +imageLayer('bg_4.png', 'bg', 'parallax__img')
    .parallax__item
      +imageLayer('bg_5.png', 'bg', 'parallax__img')
    .parallax__item
      +imageLayer('cloud_2.png', 'bg', 'parallax__img')
    .parallax__item
      +imageLayer('bg_6.png', 'bg', 'parallax__img')
    .parallax__item
      +imageLayer('bg_7.png', 'bg', 'parallax__img')
    .parallax__item
      +imageLayer('cloud_3.png', 'bg', 'parallax__img')
  section.section.index
    .index__content
      .index__user
        .index__wrapper
          .user.user__color-gray
            .user__img
              .user__img-avatar
            .user__desc
              .user__name Тельпук Екатерина
              .user__info Личный сайт веб-разработчика
            .index__socials
              +socials('green', socList)
            +nav('nav', menuFirst)
      .index__auth
        .index__wrapper
         include ../blocks/auth
    .auth-btn
      a(href="").btn.btn__auth#auth Авторизироваться
    .footer__index.copyright
        p © Тельпук Екатерина | создано с любовью в LoftSchool | 2016
