extends ../auth.layout.pug

block content
  include ../blocks/parallax
  section.section.index
    .index__content
      .index__user
        .index__wrapper
          .user.user__color-gray
            .user__img
              .user__img-avatar
            .user__desc
              .user__name Тельпук Екатерина
              .user__info Личный сайт веб-разработчика
            .index__socials
              +socials('green', socList)
            +nav('nav', menuFirst)
      .index__auth
        .index__wrapper
          .auth
            .auth__title
              .title.title__small Авторизируйтесь
            .auth__form
              #auth-component
    .auth-btn
      a(href="").btn.btn__auth#auth-btn Авторизироваться
    .footer__index.copyright
        p © Тельпук Екатерина | создано с любовью в LoftSchool | 2016
