 script(type="text/x-template")#auth-form.form
            .form__row
                .modal-form__wrapper
                    .modal-form__icon.modal-form__icon-user
                    input(type='text' placeholder='Логин' required minlength='4' v-model='user.name').modal-form__input
            .form__row
                .modal-form__wrapper
                    .modal-form__icon.modal-form__icon-pasw
                    input(type='password' placeholder='Пароль' required v-model='user.password').modal-form__input
            .form__row
                label.form__checkbox
                    input.form__checkbox-input(type='checkbox' checked)
                    .form__checkbox-fake
                    span.form__title Я человек
            .form__row
                span.form__title Вы точно не робот?
            .form__row.form__row-margin
                label.form__radio
                    input.form__radio-input(type='radio' name='robo' value='yes' required)
                    .form__radio-fake
                    span.form__title.form__title-margin Да
                label.form__radio
                    input.form__radio-input(type='radio' name='robo' value='no')
                    .form__radio-fake
                    span.form__title Не уверен
            .form__buttons
                button.modal-form__button На главную
                button.modal-form__button(type='submit')#back Войти