-
    var socList = {
    'vk': 'https://vk.com/',
    'gh': 'https://github.com/',
    'in': 'https://www.linkedin.com/'
    }

-
    var skills = [
    [['Frontend', [['Html5', 30], ['css3', 50], ['javascript & jquery', 70]]]],
    [['Backend', [['Php', 20], ['MySQL', 40], ['Node.js & npm', 20], ['Mongo.db', 10]]]],
    [['Workflow', [['Git', 90], ['Gulp', 80], ['Bower', 70]]]]
             ]