-
    var socList = {
    'vk': 'https://vk.com/katunyatel',
    'gh': 'https://github.com/KatsiarynaTsialpuk',
    'in': 'https://www.linkedin.com/'
    }

-
    var skills = [
    [['Frontend', [['Html5', 30], ['css3', 50], ['javascript & jquery', 70]]]],
    [['Backend', [['Php', 20], ['MySQL', 40], ['Node.js & npm', 20], ['Mongo.db', 10]]]],
    [['Workflow', [['Git', 90], ['Gulp', 80], ['Bower', 70]]]]
             ]

-
    var blog = [
    ['Самое важное в SASS','#article1'],
    ['Приёмы в верстке, без которых не обходится ни один сайт','#article2'],
    ['Самый необходимый набор Gulp плагинов','#article3'],
    ['Почему я выбрал Jade','#article4']
    ]

-
    var menuFirst = [
    {
    'name': 'Мои работы',
    'href': './portfolio.html',
    'class': []
    },
    {
    'name': 'Обо мне',
    'href': './about.html',
    'class': []
    },
    {
    'name': 'Блог',
    'href': './blog.html',
    'class': []
    }
    ]

-
    var menuSecond = [
    {
    'name': 'Мои работы',
    'href': './portfolio.html',
    'class': []
    },
    {
    'name': 'Обо мне',
    'href': './about.html',
    'class': []
    },
    {
    'name': 'Блог',
    'href': './blog.html',
    'class': []
    },
    {
    'name': 'Авторизация',
    'href': './',
    'class': []
    }
    ]