.contacts
    .title.title__small Контакты
    address.contacts__desc
        ul.contacts__list
            -
                var contacts = [
                ['skype', 'skype_kdn'],
                ['mail', 'astahov@gmail.com'],
                ['phone', '+7 931 200 93 24'],
                ['location', 'г.Новосибирск, ул. Инская, д. 5']
                ]
            each item in contacts
                li.contacts__item
                    a.contacts__icon(href="#")
                        +icon(`${item[0]}`, 'contacts__icon-img')
                    .contacts__title #{item[1]}