section.section.intro
    include ../common/header
    .intro__title
        .section-title
            +icon('portfolio_title', 'section-title__img')
        .intro__user
            include ../common/user
    include ../common/arrow_down