footer.footer
    .footer__row
        .footer__col
            nav.menu
                ul.menu__list
                    +nav('menu', menuFirst)
        .footer__col.footer__col_end
            +socials('footer', socList)
    .footer__row
        .footer__col
            .footer__text
                p Я веб-разработчик из Минска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .footer__col.footer__col_end
            .footer__text
                p © Тельпук Екатерина | создано с любовью в LoftSchool | 2016