section.section.intro
    include header
    .intro__title
        .section-title
            +icon('portfolio_title', 'section-title__img')
        .intro__user
            include user
    include arrow_down