.parallax
    .parallax__item
        +imageLayer('bg_1.png', 'bg', 'parallax__img')
    .parallax__item
        +imageLayer('bg_2.png', 'bg', 'parallax__img')
    .parallax__item
        +imageLayer('bg_3.png', 'bg', 'parallax__img')
    .parallax__item
        +imageLayer('cloud_1.png', 'bg', 'parallax__img parallax__image-cloud_1')
    .parallax__item
        +imageLayer('bg_4.png', 'bg', 'parallax__img')
    .parallax__item
        +imageLayer('bg_5.png', 'bg', 'parallax__img')
    .parallax__item
        +imageLayer('cloud_2.png', 'bg', 'parallax__img parallax__image-cloud_2')
    .parallax__item
        +imageLayer('bg_6.png', 'bg', 'parallax__img')
    .parallax__item
        +imageLayer('bg_7.png', 'bg', 'parallax__img')
    .parallax__item
        +imageLayer('cloud_3.png', 'bg', 'parallax__img parallax__image-cloud_3')