.blog {
  position: relative;
  background: $white;
  display: flex;
  justify-content: center;
  padding: 70px 0 150px;

  &__wrapper {
    width: 95%;
    display: flex;
  }

  &__article {
    margin-bottom: 70px;

    time {
      font-size: 16px;
      line-height: 41px;
      font-family: 'Roboto', 'Helvetica', sans-serif;
      color: $green;
      margin-bottom: 10px;
      display: block;
    }
  }

  &__img {
    padding-top: 20px;
    width: 100%;
  }

  &__aside {
    flex: 1;
    max-width: 25%;
    margin-left: 20px;

    &.swap {
      transform: translateX(90%);

      .btn-plus {
        box-shadow: none;
      }

      .blog__list {
        padding: 0 20px;
      }
    }

    @include tablet {
      position: fixed;
      height: 100vh;
      top: 0;
      right: 100%;
      max-width: 100%;
      width: 100%;
      transition: all 0.5s;
      background: $green;
    }

    @include phone {
      position: fixed;
      height: 100vh;
      top: 0;
      right: 100%;
      max-width: 100%;
      width: 100%;
      transition: all 0.5s;
      background: $green;
    }
  }

  .btn-plus {
    display: none;

    @include tablet {
      border-radius: 50%;
      width: 65px;
      height: 65px;
      background-color: $green;
      box-shadow: 0 0 10px rgba(0, 0, 0, .2);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: -10px;
    }

    @include phone {
      border-radius: 50%;
      width: 65px;
      height: 65px;
      background-color: $green;
      box-shadow: 0 0 10px rgba(0, 0, 0, .2);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: -10px;
    }
  }

  &__content {
    flex: 3;
    max-width: 75%;
    margin-left: 120px;

    @include tablet {
      margin-left: 0;
      max-width: 100%;
    }

    @include phone {
      margin-left: 0;
      max-width: 100%;
    }
  }

  &__nav {
    position: relative;
    top: 0;

    &.fixed {
      left: 0;
      width: 30%;
      padding: 0 40px;

      @include tablet {
        width: 90%;
      }

      @include phone {
        width: 90%;
      }
    }
  }

  .fixed {
    position: fixed;
    top: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__item {
    cursor: pointer;
    margin-bottom: 20px;
    text-align: right;
    display: flex;
    align-items: center;
    color: $text-color;
    min-height: 40px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 50%;
      top: 0;
      right: -15px;
      width: 4px;
      height: 100%;
      background-color: $green;
      display: none;
    }

    &.active {
      color: $green;
      font-weight: 700;

      &::after {
        display: block;
      }
    }

    @include tablet {
      color: $white;
      font-weight: 400;

      &.active {
        color: $white;
        font-weight: 800;

        &::after {
          display: none;
        }
      }
    }

    @include phone {
      color: $white;
      font-weight: 400;

      &.active {
        color: $white;
        font-weight: 800;

        &::after {
          display: none;
        }
      }
    }
  }

  @include tablet {
    padding-bottom: 230px;
  }
}