.auth {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  padding: 40px 20px;
  //display: none;
}

.form {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    &-margin {
      margin-bottom: 30px;
    }
  }

  &__title-bold {
    font-weight: 500;
  }

  &__title-margin {
    margin-right: 40px;
  }

  &__buttons {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
  }
  
  &__input {
    padding: 15px 20px;
    background: $white;
    text-decoration: none;
    border: none;
    outline: none;
  }

  &__checkbox,
  &__radio {
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;

    &-input {
      margin-right: 10px;
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    &-fake {
      position: absolute;
      height: 20px;
      width: 20px;
      background: $white;
      border: 1px solid $gray;
      border-radius: 50%;
      left: 0;

      &::after {
        content: "";
        position: absolute;
        display: none;
      }
    }
  }

  &__checkbox {
    padding-left: 35px;

    &-fake {
      height: 20px;
      width: 20px;
      border-radius: 4px;
    }
  }

  &__radio {
    padding-left: 35px;
  }

  &__title {
    color: rgba(69, 90, 100, .8);
    font-family: 'Roboto';
    font-size: 16px;
  }
}

.form__checkbox .form__checkbox-input:checked ~ .form__checkbox-fake::after {
  display: flex;
}

.form__radio .form__radio-input:checked ~ .form__radio-fake::after {
  display: flex;
}

.form__radio .form__radio-input:checked ~ .form__title {
   color: $green;
 }

.form__checkbox .form__checkbox-input:checked ~ .form__title {
  color: $green;
}

.form__radio .form__radio-fake::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $green;
}

.form__checkbox .form__checkbox-fake::after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #00bfa5;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}