.hamburger {
  display: flex;

  &__link {
    position: relative;
    vertical-align: middle;
    height: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 100;

    @include phone {
      height: 22px;
    }
  }

  &__element {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    background: $white;
    width: 40px;
    height: 5px;
    border-radius: 3px;
    transform: translate(-100%, -50%);
    transition: .2s;

    &:nth-child(1) {
      transform: translate(-100%, -50%) translateY(-13px);

      @include phone {
        transform: translate(-100%, -50%) translateY(-10px);
      }
    }

    &:nth-child(4) {
      transform: translate(-100%, -50%) translateY(13px);

      @include phone {
        transform: translate(-100%, -50%) translateY(10px);
      }
    }

    @include phone {
      width: 25px;
      height: 4px;
    }
  }

  .hamburger {
    &.activeMenu {
      .hamburger__element:nth-child(1) {
        transform: translate(-100%, -50%) translateY(-35px);
        opacity: 0;
      }

      .hamburger__element:nth-child(4) {
        transform: translate(-100%, -50%) translateY(35px);
        opacity: 0;
      }

      .hamburger__element:nth-child(2) {
        transform: translate(-100%, -50%) rotate(45deg);
        transition-delay: .2s;
      }

      .hamburger__element:nth-child(3) {
        transform: translate(-100%, -50%) rotate(-45deg);
        transition-delay: .2s;
      }
    }
  }
}