.index {
  background: url("./assets/images/bg/bg.jpg") center center / cover no-repeat;
  height: 100%;
  position: relative;

  &__user {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__socials {
    margin-bottom: 45px;
  }
}