.triangle_wrapper {
  position: relative;
}

.triangle {
  position: absolute;
  bottom: 100%;
  left: 0;

  &__fill_gray {
    fill: $light-gray;
  }

  &__fill_beige {
    fill: $beige;
  }

  &__fill_white {
    fill: $white;
  }

  &__fill_light_yellow {
    fill: $light-yellow
  }
}