.triangle {
  position: absolute;
  bottom: 100%;
  left: 0;

  polygon.triangle_fill_gray {
    fill: $light-gray;
  }

  polygon.triangle_fill_beige {
    fill: $beige;
  }

  polygon.triangle_fill_white {
    fill: $white;
  }
}